/* Account */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

body {
    background-color: #1e1e1e;
    color: white;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

/* Sidebar izquierdo */
.sidebar {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100vh;
    position: fixed;
    background-color: #1e1e1e;
    padding: 56px;
    gap: 30px;
}
.avatar-container-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 25px;
}
.avatar-left {
    width: 70px;
    height: 70px;
    background-color: #ddd;
    border-radius: 50%;
}


.menu {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 50px;
}

.menu a {
    color: #F3F3F3;
    font-size: 24px;
    font-family: Inter, sans-serif;
    text-decoration: none;
    font-weight: 300;
    display: inline-block;
    position: relative;
    width: max-content;
    cursor: pointer;
}
.menu a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #f3f3f3;
    transition: transform 0.25s ease-out;
}

.menu a:hover::after {
    transform: scaleX(1);
}

.menu a::after {
    transform-origin: bottom center;
}

.menu a:hover::after {
    transform-origin: bottom center;
}

/* Contenido central */
.content {
    flex: 1;
    background-color: #1e1e1e;
    width: 85%;
    margin-left: 15%;
    padding: 56px 56px 56px 0px;
}

.title {
    font-size: 35px;
    margin-bottom: 40px;
}

.avatar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}

.avatar {
    width: 120px;
    height: 120px;
    background-color: #ddd;
    border-radius: 50%;
}

.edit-avatar {
    font-size: 12px;
    color: #aaa;
    cursor: pointer;
    margin-left: 15px;
}

.account-section {
    margin-bottom: 30px;
}

.section-title {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 20px;
}

.form-row {
    margin-bottom: 20px;
}

.form-label {
    font-size: 12px;
    color: #aaa;
    margin-bottom: 13px;
}

.form-input {
    width: 100%;
    max-width: 550px;
    padding: 10px;
    background-color: #333;
    border: none;
    color: #bbb;
    font-size: 14px;
}

.form-input:disabled {
    opacity: 0.7;
}

/* Sidebar derecho */
.settings {
    width: 250px;
    background-color: #252525;
    display: flex;
    align-items: top;
    justify-content: center;
}
.settings-list {
    list-style: none;
    padding-top: 30px;
}

.settings-list li {
    padding: 12px 50px;
    margin-bottom: 5px;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

.settings-list li:hover {
    background-color: #333;
    border-radius: 3px;
}